*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	background-color:var(--Light-grayish-cyan);
	min-height: 100vh;
    min-width: 100vw;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
	font-family: 'Space Mono', monospace;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.selectTipCustomC-active {
    border: 2px solid hsla(172, 67%, 45%, 1) !important;
}




:root{
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Dark-grayish-cyan2: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Light-grayish-cyan2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}
.logo{
	margin-bottom:3rem;
}

.calculator__container{
    background-color: var(--White);
    border-radius: 1rem;
    width: 40rem;
    height: 24rem;
    display: flex;
    align-items: center;
    justify-content: center;	
}

.left__container{
    width: 45%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
}



.bill-container{
	padding-bottom:1.5rem;
}

#bill,#num__people{
    height: 2rem;
    text-align: right;
    background-repeat: no-repeat;
    background-position: left 18px top 8px;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    font-weight: 700;

    border-radius: 0.3rem;
    border: none;
    color: var(--Dark-grayish-cyan);
    background-color:var(--Light-grayish-cyan2);

    outline-color: var(--Strong-cyan);
    
    cursor: pointer;
    width: 100%;
}

.title{
	color: var(--Dark-grayish-cyan2);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0.2rem;
}
.billError-msg{
    visibility: hidden;
	
}
.countError-msg{
    visibility: hidden;
}

.billError-msg-active{ 
    visibility: visible;
   
    color: #F44336;
}

.countError-msg-active{
    visibility: visible;
    color: #F44336;
}

.selectTipCustomC-active {
    border: 2px solid hsla(172, 67%, 45%, 1) !important;
}

.errorInput-active {
    border: 2px solid #F44336 !important;
}


.buttons h4{
    color: var(--Dark-grayish-cyan2);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0.2rem;
    
}
.buttons button,.buttons input{
    display: inline;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    font-weight: 700;
    width: 30%;
    height: 2rem ;
    margin: 0.4rem 0;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
}


.button{
    color: var(--White);
    font-size: 24px;
    background-color: var(--Very-dark-cyan);
    border: none;
    padding: 0.2em 1.5em;
    border-radius: 0.3rem;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.selectTipBtnC-active{
    background-color:var(--Light-grayish-cyan);
    color: var(--Very-dark-cyan) ;
}



.buttons input{
    outline-color: var(--Strong-cyan);
    text-align: right;
    color: var(--Very-dark-cyan);
    background-color: var(--Light-grayish-cyan2);
}

.selectTipCustomC-active {
    border: 2px solid hsla(172, 67%, 45%, 1);
}

.right__container{
    background-color: var(--Very-dark-cyan);
    width: 45%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
}

.tip, .total{
    display: flex;
    color: var(--White);
    width: 100%;
    height: 100%;
    justify-content: space-between;
    
}
.tip p,.total p{
    font-size: 0.7rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: var(--Dark-grayish-cyan2);
}
.tip h2, .total h2{
    color: var(--Strong-cyan);
}



.reset{
 background-color: var(--Strong-cyan);
    border:none;
    border-radius: 0.3rem;
    cursor: pointer;
    color:var(--Very-dark-cyan);
    font-weight: 700;
    height: 5rem;
    cursor: pointer;
    text-transform: u;
}
